.nav{
padding: 2%;
font-weight: bolder;
color: black;
}
.title{
color: black;
text-align:center;
}
.members{
padding: 2%;
color: black;
background-color: white;
border-radius: 5%;
}
.table-m{
border: 3%;
}